@model IEnumerable<Baitap10.Models.BstAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BstLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BstUerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BstPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BstFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BstEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BstPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BstActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BstUerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BstPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BstFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BstEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BstPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BstActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
